#logo {
    padding-left: 10px;
    font-size: 1.7vw;
}

.icon-text {
    display: flex;
    align-items: center;
    white-space: pre-wrap;
}

.icon-padding {
    padding-right: 10px;
}

@media screen and (max-width: 800px) {
    #logo {
        padding-left: 0;
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 600px) {
    #logo {
        padding-left: 0;
        font-size: 5.4vw;
    }
}

@media screen and (max-width: 550px) {
    .mes-nao-apresentado {
        display: none !important;
    }
}